:root{
    --scale: 2.60869565px;
}

body {
    padding: 50px;
}


#mobile1,#mobile2 {
    position: relative;
    display: inline-block;
    width: 414px;
    height: 736px;
    border: 1px solid;
    float: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:40px;
    margin-top: 40px;
}

.texto {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom:40px;
    font: Helvetica;
    font-size: 18pt;
}

#sketches {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom:40px;
}

#summary {
    font-size: 9pt;
    margin-left: 5px;
    margin-right: 5px;
}

.canvas{
    position: relative;
    z-index: -1;
}

.text{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 138px;
    text-align: center;
    font-size: 200px;
}





.weather {
    fill: none;
    stroke: #4ECAFF;
    stroke-width: 4px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.weatherArea {
    fill: rgba(246, 156, 51, 0.3);
}

.weatherDots {
    stroke: #253172;
    stroke-width: 2px;
    fill: white;
}

.meanWeather {
    stroke: #F69C33;
    stroke-dasharray: 3px 1px;
    stroke-width: 1px;
}

.weatherNumbers {
    text-anchor: middle;
    font-size:7.5pt;
    fill: black;
}

.weekWeather .lines {
    stroke: #d6d6d6;
    stroke-width: 2px;
}

.weekWeather .maxDots {
    stroke: #d44d05;
    fill: white;
    stroke-width: 2px;
}

.weekWeather .minDots {
    stroke-width: 2px;
    fill: white;
    stroke: #0998f9;
}

.axis-y .tick line  {
    stroke-width: 1px;
    shape-rendering: crispEdges;
    stroke: #e8eced;
}


.axis-x .tick line, .axis-x .tick path {
    stroke-width: 1px;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis-y path {
    display: none;
}

.title {
    text-align: center;
    font-family: Helvetica Neue, Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 0px;
}